{% extends "layout.html" %}
{% block cssblock %}
  <style>
    html{
      background: #333333 !important;
    }
  </style>
{% endblock cssblock %}

{% block content %}
<section class="login-section">
  <div>
    <div id="general-form" class="row remove-padding" >
      <div id="login-card" class="col-lg-6 col-md-8 col-sm-8" >
        <div class="login-form">
          <form action="{{ url_for('analytics', id=id) }}" method="post">
            <h2 style="font-weight:900;" class="login-h1">Document Analytics</h2>
              <h4 class="login-h1"><b>Name:</b> {{ doc.wp_name }}
                  <p><b> Id:</b> {{ doc.doc_id }} </p></h4>
              {% if error %}
                <h3 style="font-weight:900;background-color:#ffcccc;color=#000" class="login-h1">
                {{ error }}
                </h3>
              {% endif %}
             <table class="uk-table" id="document_table"  style="margin-bottom:10px;padding-bottom:10px;">
                <caption></caption>
                <thead>
                  <tr>
                    <th>Times viewed</th>
                    <th>Times emailed</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% if has_paid %}
                      <td> {{ doc.view_count }}</td>
                      <td> {{ doc.down_count }}</td>
                    {% endif %}
                  </tr>
                </tbody>
            </table>

          </form>
            <button onClick="history.go(-1)" class="btn btn-info" value="back">Go back</button>

        </div>
      </div>
    </div>
  </div>
</section>


<!-- This is the paywall modal -->
        <div id="modal-pay" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical txt-center uk-position-middle" >
              <div class="uk-text-center">
                <div class="form-group">
                     <h2 class="uk-modal-title"><b>This is a paid only feature </b> </h2>
                  <label> To get detailed analytics, please update your payment method</label>
                  <label> <b>You will be redirected to prescrypto.com to process payment, don't worry.</b></label>
                </div>
                    <p id="spinner"></p>
                     <button  id="paybtn" name="paybtn" onclick="click_get_it()" class="btn btn-info" >Get it!</button>
              </div>
            </div>
        </div>



 <script type="text/javascript">
 {% if has_paid is sameas false %}
     UIkit.modal($('#modal-pay')).show();



     $('#modal-pay').on('hide.uk.modal', function(){
         window.location = "{{ url_for('view_docs') }}";
     });

 {% endif %}

     function click_get_it() {
            document.getElementById("paybtn").hidden = true;
             $('#spinner').html('<p id="spinner"><div style="color:#000;margin-left:10px;margin-right:10px;" uk-spinner="ratio: 2"></div></p>');
            window.location = "{{ pay_url }}";
      }

 </script>



{% endblock %}