{% extends "layout.html" %}
{% block content %}
<section class="login-section">

     <div class="row remove-padding" >

      <div id="login-card" class="col-lg-8 col-md-8 col-sm-8" >
        <div class="login-form">
          <form action="{{ url_for('documents', type=type, render=render) }}" method="post">
            <h1 style="font-weight:900;" class="login-h1">Please Enter all the Document information</h1>
              {% if success %}
                <h3 style="font-weight:900;background-color:#e0fde0" class="login-h1"> {{ success }}</h3>
              {% elif error %}
                <h3 style="font-weight:900;background-color:#ffcccc;color=#000" class="login-h1">
                {{ error }}
                {% if org_name %}
                   , Click <a href="{{ url_for('register_org') }}"> HERE to register an organization</a>
                {% else %}
                    {% if url_error == "google_error" %}
                       , please click <a href="{{ url_for('google_authorize') }}"> HERE </a>
                        to reload your google permissions.
                    {% else %}
                       , please click <a href="{{ url_for('github_reg') }}"> HERE </a>
                        to reload your github token.
                    {% endif %}
                {% endif %}

                </h3>
              {% endif %}
          <div class="row">
              <div class=" col-md-6 col-md-offset-3" >
                <div class="form-group">
                <label class="input-group-text" >Document Name</label>

              <input type="text" class="form-control" name="wp_name" value="" placeholder="Enter the Document Name" aria-label="Doc Name" aria-describedby="basic-addon1">
            </div>
            {% if type == "wp_nda"%}
            <div class="form-group">
                <label class="input-group-text" >White Paper url</label>

              <input type="text" class="form-control" name="wp_url" value="" placeholder="Enter the white paper url" aria-label="WP url" aria-describedby="basic-addon1">
            </div>
              {% if render == "latex"%}
             <div class="form-group">
                <label class="input-group-text" >White paper main tex name (must be on the root)</label>

              <input type="text" class="form-control" name="main_tex" value="" placeholder="Enter the Main tex Name" aria-label="Main Tex" aria-describedby="basic-addon1">
            </div>
              {% endif %}
              <div class="form-group">
                <label class="input-group-text" >Nda Url</label>

              <input type="text" class="form-control" name="nda_url" value="" placeholder="Enter the Nda url" aria-label="Nda url" aria-describedby="basic-addon1">
            </div>
            {% elif type == "nda"%}
               <input type="hidden" name="wp_url" value="">
               <input type="hidden" name="main_tex" value="">
                  <div class="form-group">
                       <label class="input-group-text" >Nda Url</label>

                     <input type="text" class="form-control" name="nda_url" value="" placeholder="Enter the Nda url" aria-label="Nda url" aria-describedby="basic-addon1">
                  </div>
           {% elif type == "wp"%}
              <input type="hidden" name="nda_url" value="">
               <div class="form-group">
                <label class="input-group-text" >White Paper url</label>

              <input type="text" class="form-control" name="wp_url" value="" placeholder="Enter the white paper url" aria-label="WP url" aria-describedby="basic-addon1">
            </div>
              {% if render == "latex"%}
             <div class="form-group">
                <label class="input-group-text" >White paper main tex name (must be on the root)</label>

              <input type="text" class="form-control" name="main_tex" value="" placeholder="Enter the Main tex Name" aria-label="Main Tex" aria-describedby="basic-addon1">
            </div>
              {% endif %}
             {% endif %}

            <div class="form-group">
                <label class="input-group-text" >Sidebar Description</label>

              <input type="text" class="form-control" name="wp_description" value="" placeholder="Description" aria-label="Description" aria-describedby="basic-addon1">
            </div>

            <div class="form-group">
                <label class="input-group-text" >Get the document button description</label>

              <input type="text" class="form-control" name="wp_getit_btn" value="" placeholder="button description" aria-label="wp_getit_btn" aria-describedby="basic-addon1">
            </div>


            <button type="submit" class="btn btn-info" value="create">Save!</button>
                  </div>
          </div>
          </form>
        </div>
      </div>

    </div>

</section>

{% endblock %}