{% extends "layout.html" %}

{% block content %}
	<div class="uk-margin uk-text-left" style="padding-top:30px;padding-left:30px;">
		<button  onClick="history.go(-1)" class=" uk-text-center uk-button uk-button-default" value="back">Go back</button>
	</div>
	<div class="uk-width-medium-1-1 uk-container-center">
		<form action="{{ url_for('documents', type=type, render=render) }}" method="post" class="uk-grid-medium uk-child-width-expand@s" uk-grid>
			<div></div>
			<div> <!-- Form container -->
				<h1 style="font-weight:900;padding-top:20px;" class="login-h1">Please Enter all the Document information</h1>
				{% if success %}
					<h3 style="font-weight:900;background-color:#e0fde0" class="login-h1"> {{ success }}</h3>
				{% elif error %}
					<h3 style="font-weight:900;background-color:#ffcccc;color=#000" class="login-h1">
						{{ error }}
						{% if org_name %}
							, Click <a href="{{ url_for('register_org') }}"> HERE to register an organization</a>
						{% else %}
							{% if url_error == "google_error" %}
								, please click <a href="{{ url_for('google_authorize') }}"> HERE </a>
								to reload your google permissions.
							{% else %}
								, please click <a href="{{ url_for('github_reg') }}"> HERE </a>
								to reload your github token.
							{% endif %}
						{% endif %}
					</h3>
				{% endif %}
					<div class="form-group">
						<label class="input-group-text" >Document Name</label>
						<input type="text" class="form-control" name="doc_name" value="" placeholder="Enter the document Name" aria-label="Doc Name" aria-describedby="basic-addon1">
					</div>
					<div class="form-group">
						<label class="input-group-text" >Document Url</label>
						<input type="text" class="form-control" name="doc_url" value="" placeholder="copy and paste your document url" aria-label="doc url" aria-describedby="basic-addon1">
					</div>
				  <div class="form-group">
						<label class="input-group-text" >Redirect Url</label>
						<input type="text" class="form-control" name="redirect_url" value="" placeholder="Enter the Url to redirect after the user sign" aria-label="redirect_url" aria-describedby="basic-addon1">
					</div>
					{% if render == "latex"%}
						<div class="form-group">
							<label class="input-group-text" >Document main tex name, it must be on the root (optional)</label>
							<input type="text" class="form-control" name="main_tex" value="" placeholder="Enter the Main tex name" aria-label="Main Tex" aria-describedby="basic-addon1">
						</div>
					{% endif %}
					{% if type == "wp_nda"%}
						<div class="form-group">
							<label class="input-group-text" >Contract Url</label>
							<input type="text" class="form-control" name="contract_url" value="" placeholder="Copy and paste the contract Url" aria-label="contract url" aria-describedby="basic-addon1">
						</div>
					{% endif %}
					<div class="form-group">
						<label class="input-group-text" >Sidebar Description (optional)</label>
						<input type="text" class="form-control" name="doc_description" value="" placeholder="Description" aria-label="Description" aria-describedby="basic-addon1">
					</div>
					<div class="form-group">
						<label class="input-group-text" >Get the document button description (optional)</label>
						<input type="text" class="form-control" name="doc_getit_btn" value="" placeholder="button description" aria-label="doc_getit_btn" aria-describedby="basic-addon1">
					</div>
			    <div class="uk-margin uk-text-center">
						<button type="submit" class="btn btn-info" value="create">Save!</button>
			    </div>
			</div><!-- /Form container -->
			<div></div>
		</form>
	</div>

	<!-- This is the alert modal -->
  <div id="modal-alert" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical txt-center uk-position-middle" >
        <div class="uk-text-center">
          <div class="form-group">

            <label> To render a Google document you must</label>
            <label> paste the link of the document,</label>
	          </br><label>The only necessity, is to have editing access</label></br>
	          <label>, so we would be able to access it</label>
          </div>

        </div>
      </div>
  </div>

<!-- Javascript -->
<script>
	//If this is a google document then alert the user to use public permissions
	{% if render == "google"%}
	  $(document).ready(function(){
	     UIkit.modal($('#modal-alert')).show();
	  });
	{% endif %}
</script>

{% endblock %}