{% extends "layout.html" %}
{% block content %}
	<div class="uk-margin uk-text-left" style="padding-top:30px;padding-left:30px;">
		<button  onClick="history.go(-1)" class=" uk-text-center uk-button uk-button-default" value="back">Go back</button>
	</div>
	<h1 style="font-weight:900;padding: 20px;margin:40px;margin-top:60px;text-align:center;" >Create a new document!</h1>
	<div>
		{% if error %}
			<div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
				<div>
					<div class="uk-card uk-card-default uk-card-body">
						<h3>To continue please authorize WPCI to access your docs clicking
							{% if error == "google_error" %}
								<a href="{{ url_for('google_authorize') }}"> HERE </a>
							{% else %}
								<a href="{{ url_for('github_reg') }}"> HERE </a>
							{% endif %}
						</h3>
					</div>
				</div>
			</div>
		{% else %}
			{%  if session.user %}
				<div class="uk-child-width-expand@s uk-text-center" uk-grid>
					<div>
						<div class="uk-card uk-card-hover uk-card-default uk-card-large" >
							<div class="uk-card-header">
								<h1 class="uk-card-title-md" ><a href="{{ url_for('documents', type='wp', render= render ) }}"  > Protect my document</a></h1>
							</div>
							<div class="uk-card-body">
								<h4>Require a name and email address for users to access your document.</h4>
							</div>
						</div>
					</div>
					<div>
						<div class="uk-card uk-card-hover uk-card-default uk-card-large">
							<div class="uk-card-header">
								<h1 class="uk-card-title-md"><a href="{{ url_for('documents', type='doc', render=render ) }}">Make a contract</a></h1>
							</div>
							<div class="uk-card-body">
								<h4>Make a secure contract that can be safely signed online by all parties.</h4>
							</div>
						</div>
					</div>
					<div>
						<div class="uk-card uk-card-hover uk-card-default uk-card-large">
							<div class="uk-card-header">
								<h1 class="uk-card-title-md"><a href="{{ url_for('documents', type='wp_nda', render=render ) }}">Create an NDA</a></h1>
							</div>
							<div class="uk-card-body">
								<h4>Make users sign an NDA before accessing your document.</h4>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endif %}
	</div>
{% endblock %}
