{% extends "layout.html" %}
{% block content %}

<h1 style="font-weight:900;padding: 20px;margin:40px;margin-top:60px;text-align:center;" >Welcome to your WPCI admin panel</h1>

    <div>
    {%  if session.user %}

        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div class="uk-card uk-card-hover uk-card-default uk-card-large" >
                     <div class="uk-card-header">
                         <div style="margin-top: 30px !important;" class="uk-card-badge uk-label" title="Share a link to a document and make the users sign an NDA before they get the document">
                              Help
                          </div>
                        <h3 class="uk-card-title-sm" > White paper + Signed Nda</h3>

                    </div>
                    <div class="uk-card-body">
                        <h2><a href="{{ url_for('documents', type='wp_nda', render= render ) }}"  >Share a link with a Sign Wall.</a></h2>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-hover uk-card-default uk-card-large">
                     <div class="uk-card-header">
                        <h3 class="uk-card-title-sm"> White paper</h3>
                         <div class="uk-card-badge uk-label" title="Share a link to a document and get the stadistics on how many times it is viewed and emailed">
                              Help
                          </div>
                    </div>
                    <div class="uk-card-body">
                        <h2><a href="{{ url_for('documents', type='wp', render=render ) }}"  >Share a link</a></h2>
                    </div>
                </div>
            </div>

        </div>



    {% endif %}
    {% if error %}
        <div class="error"><strong>Error:</strong> {{ error }}</div>
    {% endif %}
        </div>
{% endblock %}
