{% extends "layout.html" %}
{% block content %}
	<div class="uk-margin uk-text-left" style="padding-top:30px;padding-left:30px;">
		<button  onClick="history.go(-1)" class=" uk-text-center uk-button uk-button-default" value="back">Go back</button>
	</div>

	<h1 style="font-weight:900;padding: 20px;margin:40px;margin-top:60px;text-align:center;" >Create a new document!</h1>
	<div>
		{%  if session.user %}
			<div class="uk-child-width-expand@s uk-text-center" style="padding-top:10px;" uk-grid>
        <div>
          <div class="uk-card uk-card-hover uk-card-default uk-card-large" >
            <div class="uk-card-header">
              <h2 class="uk-card-title-md"><a href="{{ url_for('edit_docs', render='google') }}"> Get your document from <strong>Google Docs</strong></a></h2>
            </div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-hover uk-card-default uk-card-large">
            <div class="uk-card-header">
              <h2 class="uk-card-title-md"><a href="{{ url_for('edit_docs', render='latex') }}"  >Get your document from overleaf or a repository on Github</a></h2>
            </div>
          </div>
        </div>
      </div>
		{% endif %}
		{% if error %}
		<div class="error"><strong>Error:</strong> {{ error }}</div>
		{% endif %}
	</div>
{% endblock %}
