<!DOCTYPE html>
<head>
<title>{% block title %}Welcome{% endblock %} | User Authentication</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
 <header>
  	<div class="container">
  	  <strong><nav class="login-nav">
          <h1 class="logo"> User Authentication</h1>
        <ul class="menu">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          {% if session.user %}
          <li><a href="{{ url_for('logout') }}">sign out [{{ session.user.username}}]</a></li>
          {% else %}
          <li><a href="{{ url_for('login') }}">sign in</a></li>
          <li><a href="{{ url_for('register') }}">register</a></li>
          {% endif %}
        </ul>
        {% for message in get_flashed_messages() %}
          <p class=message>{{ message }}</p>
        {% endfor %}
      </nav></strong>
  	</div>
   </header>

   <div>
      {% block content %}
        {% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
