{% extends "layout.html" %}
{% block content %}
<!-- Success message-->
    <section class="container" style="padding-top:4em;">
      <article class="row justify-content-md-center">
        <div class="col-sm-12 col-md-8">
          <div class="card text-center border-0">

            <div class="card-body">

                 <span style="color:#0b0e4d;margin-left:10px;margin-right:10px;" uk-icon="icon: credit-card; ratio: 5"></span>
                <h2 class="card-title message"><strong>Successfully Payed!</strong></h2>
            </div>
          </div>
          <div class="card text-center bg-light border-0">
            <div class="card-body">
                <h5>Thank you for your payment,</h5>
                <h5> Now you are able to get all the tools on WPCI.</h5>

              <span style="margin-bottom:.5em;"></span>

            </div>
          </div>
        </div>
      </article>
    </section>

{% endblock %}
