{% extends "layout.html" %}
{% block content %}

<h1 style="font-weight:900;padding: 20px;margin:40px;margin-top:60px;text-align:center;" >Politicas de privacidad de WPCI</h1>

    <div>
    {%  if session.user %}


        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div class="uk-card uk-card-hover uk-card-default uk-card-large" >
                    <div class="uk-card-body">
                       WPCI S.A.P.I DE C.V. (en adelante “WPCI”) con domicilio fiscal en Ciudad de México, México y con teléfono +52 (55) 56055137 hace de su conocimiento nuestra Política de tratamiento (uso, entendido como cualquier acción de acceso, manejo, aprovechamiento, transferencia o disposición, así como divulgación y almacenamiento) y protección de datos personales (En adelante Política de privacidad), como a continuación se detalla:

                        La presente Política de privacidad aplica tanto para el Sitio Web www.WPCI.com así como a los sitios, aplicaciones y herramientas relacionadas con nuestros servicios, sin distingo en razón de la forma, medio o procedimiento utilizado para obtener acceso o hacer uso de los mismos.

                        WPCI estructura su Política de privacidad de conformidad, con los principios de licitud, consentimiento, información, calidad, finalidad, lealtad, proporcionalidad y responsabilidad en términos de lo dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento (en adelante conjuntamente la “Ley”).

                        Usted como titular de los datos personales, al decidir de forma informada y libre hacer uso de nuestros servicios, manifiesta su consentimiento respecto de los alcances de esta Política de privacidad al momento de inscribirse, obtener acceso, crear una cuenta o utilizar nuestros servicios, contenidos, funciones, programaciones, funcionalidades así como tecnología que conforman nuestro sitio web, programas de aplicación y herramientas relacionadas (De forma conjunta Los servicios).

                        En WPCI a fin de poder protegerlo contra el fraude y el mal uso de su información personal, llevamos a cabo las acciones pertinentes, tanto técnicas como administrativas, para asegurar las bases de datos relacionadas con Los servicios, archivos que son controlados y de acceso limitado, y con ello salvaguardar su información en nuestra posesión; así mismo nuestros empleados y colaboradores han suscrito convenios de confidencialidad y conocen los alcances de nuestra Política de privacidad contribuyendo con ello en su eficacia.


                        Su información personal en nuestra posesión.

                        Datos personales ¿Qué información recabamos?

                        WPCI recaba y usa la siguiente información de su propiedad en relación o asociación con Los servicios:
                        Datos de identificación, tales como nombre, número, folio o código de identificación oficial (cédula profesional) y RFC.
                        Datos de contacto, tales como dirección, teléfono, correo electrónico y otra información semejante.
                        Datos financieros, tales como números de cuenta bancaria y/o números de tarjetas de crédito o débito completos.
                        Información médica, tales como prescripciones médicas y diagnósticos de salud.
                        WPCI podrá obtener datos personales por parte de terceros autorizados para tal fin conforme a la legislación aplicable y servicios de verificación de identidad.

                        Adicionalmente, cuando visita nuestro sitio web, así como los sitios, aplicaciones y herramientas relacionadas con Los servicios, WPCI podrá recabar información que nos haya sido enviada por su dispositivo de acceso ya sea computadora, teléfono móvil u otros conocidos o por conocerse, entre la que se encuentra: datos sobre las páginas a las que obtiene acceso, la dirección IP y/o identificadores de su dispositivo, sistema operativo en uso, ubicación, la información de la red móvil, los datos de registro Web estándar, navegador que está utilizando y el tráfico hacia y desde nuestro sitio e información adicional, como su uso e interacción con nuestro sitio web en relación con Los servicios.

                        Usted como titular de la información, puede consentir el proporcionarnos acceso a información personal almacenada por terceros, tales como sitios de redes sociales (Google, Facebook, Twitter, etc.). La información que podremos recibir de estos emisores o sitios dependerá de su política de uso y protección de datos personales y del consentimiento que Usted hubiese otorgado como titular, por lo que al asociar una cuenta administrada por un tercero con Los servicios, usted acepta que WPCI pueda recopilar, almacenar y utilizar esta información de acuerdo con la presente Política de privacidad.

                        Así mismo, al acceder a nuestro sitio web o utilizar Los servicios, WPCI podrá colocar archivos de datos codificados (Cookies, etiquetas de píxel, "Flash cookies" u otros medios de almacenamiento local proporcionados por el navegador o las aplicaciones asociadas, denominados “Cookies”); el uso de estas tecnologías por WPCI tiene como finalidad su reconocimiento y personalización como usuario de Los servicios, haciendo más segura su cuenta y más eficaces los mismos. Usted puede optar por bloquear, eliminar o deshabilitar las “cookies” directamente en su navegador.



                        Finalidades del uso de los datos personales ¿Para que utilizamos su información?

                        Salvo que Usted como titular disponga lo contrario a través del medio descrito en esta Política de privacidad, WPCI utiliza su información para las finalidades que a continuación le detallamos:

                        Sus datos personales en nuestra posesión tienen como finalidad ser usados en relación con la suscripción, comercialización y operación de Los servicios en virtud de la relación jurídica que Usted crea con WPCI, así como para el diseño y mejora de nuestros productos y servicios, promoción y notificación de campañas publicitarias, sorteos o encuestas, y en su caso, la atención a los requerimientos legales de autoridades competentes.

                        De forma más detallada, podemos utilizar sus datos personales para:

                        Proporcionar Los servicios.
                        Facilitar soporte técnico en relación con Los servicios.
                        Mejorar Los servicios.
                        Solucionar problemas y resolver controversias que puedan suscitarse en relación con Los servicios.
                        Contribuir a la eficacia de nuestra Política de privacidad.
                        Contribuir a evitar o limitar actividades potencialmente prohibidas o ilegales.
                        Para efectos de comunicación o divulgación con terceros en relación con Los servicios.
                        Verificación de información con terceros autorizados.
                        Comercializar datos de co-prescripción
                        Publicidad.

                        Comunicaciones a terceros de los datos personales

                        WPCI transferirá a terceros su información personal a menos que Usted hubiese consentido su transferencia en los términos de la presente Política de privacidad o que WPCI considere que su comunicación es necesaria por razones de seguridad nacional, interés público o para el cumplimiento de sus obligaciones legales.

                        WPCI podrá transmitir tus datos personales a sus consultores externos para defensa de cualquier controversia legal que surja con motivo de la prestación de Los servicios.


                        Divulgación de información con otros usuarios WPCI

                        Para la prestación de Los servicios, y principalmente en virtud del procesamiento de sus pagos, podemos compartir algunos de sus datos personales con la persona o empresa a la que está pagando o que le está pagando. La información de contacto, la fecha de registro, el número de pagos que ha recibido de usuarios verificados de WPCI y si verificó el control de una cuenta bancaria, se proporcionan a otros usuarios de WPCI con los que realiza transacciones a través de WPCI. Además, esta y demás información también puede compartirse con terceros cuando acude a ellos para obtener acceso a los servicios WPCI. A menos que lo haya acordado, estos terceros no están autorizados a usar esta información para ningún propósito que no sea activar los Servicios WPCI.

                        Tenga en cuenta que los proveedores externos de servicios tienen sus propias políticas de privacidad, por lo que al hacer uso de los mismos, WPCI no es responsable de sus acciones, incluso de sus prácticas de protección de información.

                        WPCI no revelará su número de cuenta bancaria a terceros que promocionen o utilicen los Servicios WPCI, excepto con su consentimiento expreso o si estamos obligados a hacerlo para cumplir con un requerimiento jurídico de autoridad competente.

                        Si abre una cuenta WPCI directamente en un sitio Web de terceros o a través de una aplicación de terceros, cualquier información que ingrese en ese sitio Web o aplicación (y no directamente en un sitio Web de WPCI) se compartirá con el propietario del sitio Web o de la aplicación. Estos sitios se rigen por sus propias políticas de privacidad y le recomendamos revisar sus políticas de privacidad antes de proporcionar su información personal. WPCI no es responsable de los contenidos o las prácticas de información de dichos terceros.

                        WPCI no venderá ni alquilará su información personal a terceros con fines comerciales y solo comparte su información personal con terceros según lo descrito en esta política.


                        Cómo puede acceder a su información personal o modificarla

                        Puede revisar y editar su información personal en cualquier momento, para ello, inicie sesión en su cuenta y revise su configuración y perfil. También puede suspender su cuenta a través del sitio Web de WPCI. Si suspende su cuenta WPCI, marcaremos la cuenta en nuestra base de datos como "Suspendida", pero podemos retener la información personal de su cuenta para cobrar las comisiones que adeude, resolver controversias, solucionar problemas, cooperar con cualquier investigación, evitar fraudes, hacer cumplir nuestros Términos de Uso o tomar otras acciones según lo requiera o permita la ley.

                        Posteriormente dicha información será cancelada y finalmente descartada. Lo anterior con fundamento en el artículo 37 del Reglamento de la Ley.


                        Derechos ARCO y su ejercicio con WPCI

                        Con apego a lo previsto por la Ley, WPCI cuenta con procedimientos sencillos y eficaces para atender a las solicitudes de derechos de Acceso, Rectificación, Cancelación y Oposición que llegase a presentar, los cuales podrán ser ejercidos mediante formulario que podrá obtenerse mediante previa solicitud mediante correo electrónico.

                        Es importante tener en cuenta que el ejercicio de cada uno de estos derechos es independiente entre sí, es decir, no es necesario agotar uno para ejercer alguno de los otros tres.

                        El correo electrónico para recibir sus dudas o manifestaciones respecto de sus derechos ARCO es el siguiente: dp.arco(arroba)WPCI(punto)com, en donde en caso de solicitarlo le haremos conocer el procedimiento para ello.


                        Opciones para limitar el uso o divulgación de sus datos personales

                        En su caso, Usted como titular tiene un plazo de 5 (cinco) días hábiles posteriores a la fecha en que se obtuvieron sus datos personales, para que, de ser el caso, manifieste su negativa para el tratamiento (comunicación o divulgación) con respecto a las finalidades que no son necesarias, ni dieron origen a la relación jurídica con WPCI.

                        Así mismo, le informamos que su consentimiento podrá ser revocado en cualquier momento sin que se le atribuyan efectos retroactivos.


                        Cambios en el aviso de privacidad

                        WPCI se reserva el derecho de actualizar la presente Política de privacidad en cualquier momento mediante la publicación de una versión revisada en nuestro sitio Web. La versión revisada entrará en vigor en el momento de su publicación. Además, si la versión revisada incluye un cambio sustancial, se lo notificaremos con razonable anticipación publicando una notificación en nuestro sitio Web. Después de este período de notificación, se considerará que ha aceptado expresamente todas las modificaciones a esta política.

                        En caso de que ocurra una vulneración de seguridad en cualquier fase del tratamiento de datos personales, WPCI lo hará del conocimiento general, de manera inmediata en nuestro sitio web o mediante notificación personal para que las personas involucradas en la vulneración de sus datos personales tomen las medidas correspondientes a fin de resguardar sus derechos.

                        Este aviso se apega a los lineamientos emitidos por el Instituto Federal de Acceso a la Información y Protección de Datos Personales (IFAI) así como a los preceptos de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.

                        Todos los derechos reservados, WPCI S.A.P.I DE C.V., México 2017.

              </div>
            </div>
          </div>
        </div>



    {% endif %}
    {% if error %}
        <div class="error"><strong>Error:</strong> {{ error }}</div>
    {% endif %}
        </div>
{% endblock %}
