{% extends "pdflayout.html" %}
{% block content %}

<!-- Success message-->
    <section class="container" style="padding-top:4em;">
      <article class="row justify-content-md-center">
        <div class="col-sm-12 col-md-8">
          <div class="card text-center border-0">
            <div class="card-body">
              <img style="width:100px;margin-bottom:20px;" src="/static/images/send.svg" alt="">
              <h2 class="card-title message"><strong>Succesfully sent your verification link!</strong></h2>
            </div>
          </div>
          <div class="card text-center bg-light border-0">
            <div class="card-body">
              <h5>Thank you for your interest in WPCI,</h5>
              <h5> please check your email and click in the verification link to finish your registration process.</h5>
              <span style="margin-bottom:.5em;"></span>
            </div>
          </div>
        </div>
      </article>
    </section>

{% endblock %}
