{% extends "layout.html" %}
{% block content %}
<section class="login-section">
  <div>
    <div class="row">
      <div id="login-card" class="col-lg-4 col-md-6 col-sm-12">
        <div class="login-form">
          <form action="{{ url_for('register') }}" method="post">
            <h1 style="font-weight:900;" class="login-h1">Please enter your email</h1>
               {% if error %}
                <h3 style="font-weight:900;background-color:#ffcccc" class="login-h1"> {{ error }}</h3>
                {% endif %}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" >Email</span>
              </div>
              <input type="text" class="form-control" name="username" value="" placeholder="Enter your Email" aria-label="Username" aria-describedby="basic-addon1">
            </div>


            <button type="submit" class="btn btn-info" value="Register">Register!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

    </div>
{% endblock %}