{% extends "layout.html" %}
{% block content %}
 {% if myuser %}
<section class="login-section">

   <div class="row remove-padding" style="padding-top: 20px;">

      <div id="login-card" class="col-lg-8 col-md-8 col-sm-8" >

        <div class="login-form">

          <form action="{{ url_for('register_org') }}" method="post" enctype="multipart/form-data"  style="padding-bottom:10px;">
            <h1 style="font-weight:900;" class="login-h1">Please Enter all the Organization information</h1>
              {% if success %}
              <h3 style="font-weight:900;background-color:#e0fde0" class="login-h1"> {{ success }}</h3>
              {% elif error %}
                <h3 style="font-weight:900;background-color:#ffcccc" class="login-h1"> {{ error }}</h3>
                {% endif %}

           <div class="row">
             <div class=" col-md-6 col-md-offset-3" >
              <div class="form-group">
                <label for="org_name" >Name </label>

              <input type="text" class="form-control" id="org_name" name="org_name" value="{{ myuser.org_name }}" placeholder="Enter the organization Name" aria-label="Org Name" aria-describedby="basic-addon1">
              </div>

              <div class="form-group">
                <label for="org_address" >Address</label>

              <input type="text" class="form-control" id="org_address" name="org_address" value="{{ myuser.org_address }}" placeholder="Enter the organization Address" aria-label="Org Address" aria-describedby="basic-addon1">
              </div>

             <div class="form-group">
                <label for="org_email" >Notification Email</label>

              <input type="text" class="form-control" id="org_email" name="org_email" value="{{ myuser.org_email }}" placeholder="Enter the organization Email" aria-label="Org Email" aria-describedby="basic-addon1">
             </div>

             <div class="form-group">
                <label for="org_type">Type of Organization</label>

              <input type="text" class="form-control" id="org_type" name="org_type" value="{{ myuser.org_type }}" placeholder="Enter the organization Type" aria-label="Username" aria-describedby="basic-addon1">
             </div>
             <div class="form-group">
                <label for="org_logo" >Logo</label>


              <input type="hidden" name="prev_logo" value="{{ myuser.org_logo }}">
              <input type="file" class="form-control" id="org_logo" name="org_logo" value="" placeholder="Enter the organization Logo" aria-label="org logo" aria-describedby="basic-addon1">
               {% if myuser.org_logo %}
               <div style="padding-left:10px">
                 <img style="padding-left:10px" width="96" height="48" src="data:image/jpeg;base64,{{ myuser.org_logo }}" alt="org_logo" />
               </div>
               {% endif %}

             </div>

            </div>
           </div>
            <button type="submit" class="btn btn-info" value="create">Save!</button>
          </form>
        </div>
      </div>
     </div>

</section>
{% endif %}


{% endblock %}