{% extends "layout.html" %}
{% block content %}

<h1 style="font-weight:900;padding: 20px;margin:40px;margin-top:60px;text-align:center;" >Terminos y condiciones de servicio</h1>

    <div>
    {%  if session.user %}


         <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
               <div class="uk-card uk-card-hover uk-card-default uk-card-large" >
                  <div class="uk-card-body">

                    <p>
                    Las condiciones y alcances legales contenidos en los presentes Términos de Uso constituyen un contrato de adhesión o acuerdo de voluntades entre Usted y WPCI y es aplicable al uso de los servicios que ofrecemos, por lo tanto tiene carácter vinculante y es indispensable que previamente a registrarse en nuestros sitios WEB y adquirir el carácter de usuario de nuestros servicios, lea, comprenda y manifieste su consentimiento respecto de las condiciones contenidas en los siguientes:

                    Efectivo desde: 1 Julio, 2017

                    Las condiciones y alcances legales contenidos en los presentes Términos de Uso constituyen un contrato por adhesión entre Usted y WPCI y es aplicable al uso de los servicios que ofrecemos, por lo tanto constituye un acuerdo de voluntades, tiene carácter vinculante y es indispensable que previamente a registrarse en nuestros sitios WEB y adquirir el carácter de usuario de nuestros servicios, lea, comprenda y manifieste su consentimiento respecto de las condiciones contenidas en los siguientes:

                    Términos de Uso
                    Al momento de tener acceso a los Sitios Webs WWW.WPCI.COM así como a los sitios, aplicaciones y herramientas relacionadas con nuestros servicios (En adelante LOS SITIOS), Usted se convierte en usuario, sin distingo en razón de la forma, medio o procedimiento utilizado para obtener acceso o hacer uso de los mismos, y derivado de este hecho, acepta y acuerda obligarse sin reservas en los términos y condiciones que a continuación se señalan:


                    1. Alcance

                    Los servicios prestados a través de LOS SITIOS se rigen por los términos y condiciones a los que Usted se adhiere y consiente como usuario (en lo sucesivo El USUARIO) y son pactados con WPCI S.A.P.I. DE C.V., (en adelante WPCI) como oferente de los mismos.

                    EL USUARIO podrá hacer uso de los servicios disponibles en LOS SITIOS, tanto los ofrecidos directamente por WPCI como aquellos ofrecidos por terceros proveedores.

                    WPCI no es un proveedor de servicios médicos. WPCI es un gestor de servicios de prescripción, mismos que de conformidad al criterio actual manifestado por la autoridad mexicana competente, conceptualizamos para todos los efectos legales conducentes, como mecanismos de almacenamiento e intercambio de información electrónica (En adelante PRESCRIPCIONES MÉDICAS ELECTRÓNICAS)

                    Los servicios de WPCI implican la gestión de PRESCRIPCIONES MÉDICAS ELECTRÓNICAS e información relacionada por encargo y cuenta de EL USUARIO.

                    Para el uso de LOS SERVICIOS, EL USUARIO como persona física o moral, deberá crear un perfil, cuenta o membresía ÚNICA en LOS SITIOS, facilitando a WPCI los datos personales y documentación que le sean solicitados, quedando expresamente prohibido establecer perfiles adicionales, auténticos o apócrifos, constituyendo lo anterior violación a los presentes términos de uso.

                    WPCI realizará las gestiones de PRESCRIPCIONES MÉDICAS ELECTRÓNICAS objeto de los servicios a su nombre pero siempre por cuenta y encargo de EL USUARIO.

                    En virtud de lo anterior EL USUARIO comisiona a WPCI para que actúe por encargo y a su cuenta, para realizar gestiones u operaciones en o de PRESCRIPCIONES MÉDICAS ELECTRÓNICAS mediante el uso de las plataformas o programas de aplicación disponibles en LOS SITIOS.


                    2. Qué hacemos

                    Nuestros servicios de gestión nacional de PRESCRIPCIONES MÉDICAS ELECTRÓNICAS (En adelante LOS SERVICIOS son:

                    1. Creación, envío, consulta y auditoria de PRESCRIPCIONES MÉDICAS ELECTRÓNICAS

                    2. Custodia de información relacionada a las PRESCRIPCIONES MÉDICAS ELECTRÓNICAS

                    WPCI garantiza la calidad de Los servicios a favor de EL USUARIO, realizando de buena fe y de manera diligente, los actos y/o procedimientos y/o acciones, que sean requeridos y/o necesarios para el óptimo desempeño de las gestiones encargadas, realizando el mantenimiento y seguimiento que sea necesario hasta su finalización.

                    WPCI será responsable en los términos de este instrumento de la custodia de la información conferida por EL USUARIO para la emisión de una prescripción electrónica.

                    WPCI rendirá, después de ejecutada la gestión encargada, cuenta de su cumplimiento, y enterará a EL USUARIO, en su caso.

                    Si por causas imputables o no imputables a WPCI, LOS SERVICIOS se realizan con alteraciones, defectos o error, este los ejecutará nuevamente en los términos encargados por EL USUARIO sin tener responsabilidad frente a este.

                    Debido a su naturaleza y procesos informáticos, Los servicios una vez encargados por EL USUARIO, son concretados con carácter inmediato por parte de WPCI; no obstante lo anterior, algunas de las gestiones pueden sufrir retraso en virtud de los tiempos y limitantes de nuestros prestadores de servicios o proveedores externos, por lo que WPCI no asegura el tiempo en el que se realizarán las gestiones encargadas por EL USUARIO, y la acreditación de las mismas puede retrasarse por 48 horas o más.

                    En virtud de lo anterior, EL USUARIO acepta el riesgo respecto a los retrasos que puedan sufrir las gestiones de PRESCRIPCIONES MÉDICAS ELECTRÓNICAS que constituyen los servicios, liberando a WPCI de cualquier responsabilidad derivada del retraso referido. No obstante lo anterior, WPCI realizará las gestiones técnicamente posibles, para que dichos tiempos sean los menores y más eficientes.

                    Si una circunstancia extraordinaria e imprevista hiciere a juicio de WPCI, perjudicial la ejecución de la gestión encargada por EL USUARIO, respecto de cualquiera de los servicios, podrá suspender el cumplimiento de la misma, comunicándole al segundo la causa, lo más rápido posible.


                    3. WPCI manifiesta

                    Para todos los efectos legales, WPCI actúa por encargo de EL USUARIO, como gestor de PRESCRIPCIONES MÉDICAS ELECTRÓNICAS a su favor, en los términos del presente instrumento, por lo que queda absolutamente excluido tanto de los derechos como de las obligaciones que de dichas gestiones se deriven.

                    WPCI no es un proveedor de servicios médicos, realizamos gestiones nacionales de PRESCRIPCIONES MÉDICAS ELECTRÓNICAS a favor de sus nuestros usuarios. WPCI asimismo no tiene control ni responsabilidad del contenido de las PRESCRIPCIONES MÉDICAS ELECTRÓNICAS ni de las consecuencias que pudieran derivar de lo que ahí se le prescribe a un paciente.

                    WPCI podrá modificar el alcance de LOS SERVICIOS, sin que lo anterior se considere un incumplimiento por parte de WPCI.


                    4. EL USUARIO manifiesta

                    EL USUARIO manifiesta tener la capacidad legal suficiente para suscribir y obligarse en los términos del presente.

                    Así mismo, EL USUARIO declara bajo protesta de decir verdad que los datos personales y/o documentos que ha otorgado para su identificación en los supuestos así requeridos en LOS SITIOS, o mediante nuestro personal o colaboradores, son auténticos y verificables por WPCI o en su caso por las autoridades competentes que conforme a derecho, así lo requieran.

                    EL USUARIO manifiesta que los presentes Términos de uso son claros y ha comprendido plenamente sus alcances, y operará su perfil, cuenta o membresía ÚNICA con apego a los mismos.

                    EL USUARIO manifiesta que ha recibido información clara respecto de LOS SERVICIOS ofrecidos por WPCI, así como del funcionamiento de LOS SITIOS, pudiendo acceder a la sección de preguntas y respuestas que los mismos albergan, o en su caso contactar a nuestro personal de atención al cliente para clarificar y detallar dicha información.

                    Que nuestra Política de privacidad y demás documentos relativos a EL USUARIO así como las comunicaciones que sean entregadas o intercambiadas entre WPCI y EL USUARIO como respaldo del mandato y las gestiones así realizadas, forman parte integrante de los presentes Términos de uso.

                    Que en los presentes Términos de uso se estipulan los derechos y las obligaciones de EL USUARIO y WPCI, derivados del mandato general que otorga al segundo, rigiéndose la relación contractual por el contenido total del presente instrumento, con independencia de su orden o división en capítulos.


                    5. Responsabilidad de EL USUARIO

                    El Usuario se obliga a utilizar LOS SERVICIOS con fines y recursos lícitos, sin afectar derechos de terceros y con apego a las leyes vigentes en México o en el país en que se encuentre al momento de utilizar los mismos.

                    El perfil, cuenta o membresía generada por EL USUARIO al hacer uso de LOS SITIOS y a partir de ella poder realizar el encargo a WPCI de cualquiera de LOS SERVICIOS, es y debe ser siempre de carácter personal e intransferible, por lo que EL USUARIO no podrá vender o ceder a favor de terceros el uso de la misma.

                    En virtud de lo anterior, es responsabilidad absoluta de EL USUARIO hacer uso de LOS SITIOS con apego a los presentes términos, por lo que en caso contrario y desde este momento asume las consecuencias jurídicas que deriven de la violación o contravención a los usos autorizados descritos en este punto.

                    El nivel de membresía que obtenga EL USUARIO conforme a las especificaciones establecidas en LOS SITIOS determinará los límites permitidos para la gestión de los servicios.

                    Cuando EL USUARIO utiliza los Servicios acepta y reconoce que es su exclusiva responsabilidad el uso que haga de los mismos y que en todo caso deberá utilizarlos de conformidad a las funcionalidades que se ofrecen y permiten en LOS SITIOS en los términos del presente acuerdo.

                    Los servicios ofrecidos en LOS SITIOS son para el uso estrictamente personal médico.

                    EL USUARIO es el único responsable de comprender y dar cumplimiento al marco jurídico aplicable en su jurisdicción, relativo al uso que haga de Los Servicios, de forma enunciativa más no limitativa a todo aquello relacionado con las pautas y regulaciones respecto de las PRESCRIPCIONES MÉDICAS ELECTRÓNICAS, así como la responsabilidad médico-legal que implique la prescripción de medicamentos y/o insumos para la salud.

                    En el supuesto de que EL USUARIO sea una persona moral, deberá contactarnos mediante su Representante Legal al siguiente correo electrónico hola(arroba WPCI(punto)com. para proveernos de la siguiente información y/o documentación en digital:

                    i) Denominación; ii) Nombre e identificación oficial del Representante legal; iii) Escritura constitutiva; iv) Escritura que contiene el poder del Representante legal ( en caso de ser distinta a la constitutiva); v) Domicilio y comprobante del mismo; vi) RFC.

                    WPCI aprobará la información y/o documentación recibida y autorizará la apertura de la cuenta de la persona moral como usuario de Los Servicios ofrecidos por WPCI.

                    En ese supuesto, el representante legal de EL USUARIO, declara bajo protesta de decir verdad y en ejercicio de su representación que sus facultades no han sido limitadas o revocadas y que su representada acepta todos los alcances de los presentes Términos de Uso.


                    6. Proveedores externos.

                    WPCI podrá facilitar mediante procesos de integración informática, dentro o mediante enlaces en LOS SITIOS diversos servicios provistos mediante terceros proveedores (en adelante servicios externos).

                    En virtud de lo anterior El USUARIO reconoce expresamente al hacer uso de los SERVICIOS EXTERNOS que:

                    WPCI ofrece SERVICIOS EXTERNOS en LOS SITIOS exclusivamente para beneficio y comodidad de EL USUARIO, sin que ello represente necesariamente una asociación con los terceros proveedores, por lo que WPCI no asume ningún tipo de responsabilidad que pueda desprenderse si EL USUARIO decide hacer uso de dichos SERVICIOS EXTERNOS.

                    Es responsabilidad absoluta de EL USUARIO considerar las condiciones o términos de uso brindadas por los terceros proveedores y manifestar su consentimiento respecto de las mismas al hacer uso de los SERVICIOS EXTERNOS dentro de LOS SITIOS o de forma relacionada con ellos.

                    La responsabilidad de WPCI se limita a comunicar a EL USUARIO sobre los SERVICIOS EXTERNOS y/o facilitar por un medio de integración o liga el contacto con el Proveedor externo.

                    En virtud de lo anterior, los SERVICIOS EXTERNOS a los que se puede acceder desde LOS SITIOS son provistos y administrados por el proveedor externo como tercero independiente de WPCI, por lo que no somos proveedores de dichos servicios. La posibilidad de tener acceso a los SERVICIOS EXTERNOS mediante la integración o liga en los sitios no implica garantía ni responsabilidad de ninguna índole por parte de WPCI, respecto de los SERVICIOS EXTERNOS que comercializa, provee, gestiona o ejecuta el Proveedor externo, ni tampoco el contenido o alcance de sus páginas y/o sitios.

                    EL USUARIO puede conocer las condiciones de uso de los SERVICIOS EXTERNOS accediendo, en su caso a las ligas plenamente identificadas por WPCI dentro de LOS SITIOS, o directamente en las páginas y/o sitios de los proveedores externos en el supuesto de integraciones informáticas.

                    WPCI podrá establecer requisitos o lineamientos adicionales para poder facilitar SERVICIOS EXTERNOS, mismos que serán claramente especificados y notificados en LOS SITIOS.

                    Entre WPCI y el tercero proveedor de los SERVICIOS EXTERNOS no existe ningún tipo de relación laboral, asociación o sociedad, si no en casos específicos una relación de prestación de servicios del segundo a los usuarios de WPCI o directamente con WPCI.

                    Para el acceso a ligas o servicios de proveedores externos y con el objetivo de cumplir con los presentes términos de uso y el derecho positivo aplicable, WPCI podrá solicitar a EL USUARIO, actualizar su información personal, en su perfil, cuenta o membresía.

                    Derivado de todo lo anterior, EL USUARIO acepta que consecuentemente, WPCI no será responsable de ningún daño o perjuicio que pudiese sufrir a consecuencia del uso de SERVICIOS EXTERNOS.


                    7. Falta en la ejecución del encargo

                    WPCI tiene derecho a negar o cancelar a EL USUARIO el acceso a LOS SITIOS, a su cuenta o membresía, total o parcialmente, de manera temporal o definitiva, en cualquier momento y sin necesidad de previo aviso, si EL USUARIO incumple cualquiera de las estipulaciones contenidas en los presentes Términos de Uso, si realiza cualquier otro acto contrario a las leyes aplicables vigentes, si no pudiera verificarse su identidad, si cualquier información proporcionada por el mismo fuere falsa o por cualquier otra causa, a entera discreción de WPCI.

                    WPCI comunicará vía correo electrónico EL USUARIO su negativa para la gestión de Los servicios o el desempeño de la comisión encargada, determinando el tipo de restricción, suspensión o cancelación a la que el segundo se ha hecho acreedor.

                    En cualquiera de estos supuestos WPCI conservará los saldos de EL USUARIO que en su caso mantuviera en depósito en los términos de este instrumento y los reintegrará.




                    8. Remuneración

                    En calidad de remuneración por la gestión de LOS SERVICIOS encargados mediante LOS SITIOS y objeto del presente acuerdo, WPCI cobra las siguientes suscripciones diferenciadas conforme a los alcances descritos en este instrumento y dentro de LOS SITIOS:

                    Suscripción mensual a razón de $ 200.00 (doscientos Pesos 00/100) MN por médico, por mes.
                    Suscripción mensual a razón de $ 1,500.00 (mil quinientos Pesos 00/100) MN por un equipo de hasta diez (10) médicos, por mes.
                    Suscripción mensual a razón de $ 2,500.00 (mil quinientos Pesos 00/100) MN por un equipo de hasta cincuenta (50) médicos, por mes.
                    Suscripción mensual a convenir por ambas partes.

                    WPCI se reserva el derecho de hacer el descuento respectivo a las comisiones o cuotas aquí descritas.


                    9. Seguridad

                    WPCI ofrece seguridad en la transmisión de la información relativa a Los servicios, privacidad en los datos personales e identificación de los Usuarios.

                    De conformidad con los medicamentos o insumos para la salud prescritos, WPCI podrá solicitar datos personales o documentación adicional e informar a la autoridad competente de dichas gestiones, de conformidad con lo dispuesto por la Ley General de Salud.

                    WPCI no garantiza la disponibilidad, permanencia y continuidad de la operación de LOS SITIOS y de la gestión de Los Servicios, por lo que EL USUARIO lo libera de cualquier responsabilidad por cualquier daño o perjuicio de cualquier naturaleza que considere que pueda surgir derivado de lo anterior, siempre y cuando WPCI concluya las gestiones encargadas en los términos aquí establecidos.

                    EL USUARIO reconoce que es y en todo tiempo será el responsable único y final de proteger y mantener en secreto la información de sus cuentas, contraseñas personales, claves de acceso y números confidenciales o cualquier otro código con los cuales tiene acceso a LOS SITIOS , así como a las páginas de el Proveedor externo o terceros relacionadas con el Sitio.

                    WPCI no será tampoco responsable de daños o perjuicios que EL USUARIO pudiera sufrir con motivo de proporcionar información inexacta o errónea, derivada de omisión, distracción o error tipográfico, al momento de realizar en el encargo de cualesquiera de los Servicios o al hacer uso de LOS SITIOS.

                    EL USUARIO es consciente que debido a la naturaleza abierta de Internet y sus cualidades técnicas, el control de fallas en la función de LOS SITIOS, es incierta y se encuentra fuera del control de WPCI por lo que lo libera expresamente de toda responsabilidad, de cualquier daño o perjuicio que pudiere llegar a sufrir por dichas fallas.

                    No obstante lo anterior, WPCI realizará las gestiones que estén a su alcance, restituyendo la permanencia, continuidad, disponibilidad o funcionamiento de LOS SITIOS en cuanto sea técnicamente posible.


                    10. Información sobre PRESCRIPCIONES MÉDICAS ELECTRÓNICAS

                    El contenido de las PRESCRIPCIONES MÉDICAS ELECTRÓNICAS dirigidas a un paciente son responsabilidad de EL USUARIO, por lo que WPCI no será responsable de la precisión, la idoneidad o la exhaustividad de cualquier información en este sentido, así como de cualquier error, omisión u otros defectos, retrasos o interrupciones en relación con esta información, ni de cualquier otra acción llevada a cabo utilizándolos como referencia.

                    WPCI no puede garantizar la exactitud ni idoneidad de los medicamentos o insumos médicos prescritos a través de LOS SITIOS.

                    EL USUARIO entiende que WPCI es dueño de toda la información almacenada en LOS SITIOS y es libre de venderla, compartirla, publicarla, reproducirla, comunicarla y transmitirla por cualquier medio.



                    11. Confidencialidad

                    WPCI mantendrá y resguardará la información que le sea entregada o comunicada por EL USUARIO en relación a la identidad de los pacientes del USUARIO con carácter confidencial, en términos de las disposiciones legales aplicables en los Estados Unidos Mexicanos, por lo anterior, se obliga a tomar las providencias necesarias para que las personas que en su caso tengan acceso con motivo o como consecuencia de la las gestiones encargadas de conformidad con estos términos, no la divulguen y que terceras personas ajenas a las partes, no tengan acceso a ella.

                    Sin perjuicio de lo anterior WPCI no tendrá la obligación de mantener con carácter confidencial cualquier información que EL USUARIO le proporcione en relación a PRESCRIPCIONES MÉDICAS ELECTRÓNICAS, medicamentos, diagnósticos o información que sea de cualquier forma pública o que no deba considerarse como confidencial en los términos citados.

                    WPCI se reserva el derecho de vender información de PRESCRIPCIONES MÉDICAS ELECTRÓNICAS desagregada de la identidad del paciente a cualquier tercero

                    La información que no revista carácter confidencial podrá ser utilizada, publicada, reproducida, divulgada, comunicada públicamente y transmitida por WPCI de conformidad con lo establecido en el artículo 109 de la Ley Federal de los Derechos de Autor y de la fracción I, del artículo 76 bis de la Ley Federal de Protección al Consumidor.



                    12. Avisos y notificaciones

                    Toda notificación, declaración, o aviso, deberá ser siempre por escrito a las direcciones de correo electrónico registradas en la membresía o perfil de EL USUARIO y al siguiente correo por parte de WPCI: hola(arroba)WPCI(punto)com.

                    En virtud de lo anterior, EL USUARIO es responsable de mantener su dirección de correo electrónico y otra información de identificación personal y/o contacto actualizado en su perfil de cuenta o membresía registrada en LOS SITIOS, liberando a WPCI de cualquier responsabilidad relacionada con la falta de actualización del perfil o la desactivación o saturación de sus direcciones de correo electrónico registradas.

                    EL USUARIO acepta que cualquier información remitida por WPCI que no fuese recibida porque su correo electrónico registrado es incorrecto, está desactualizado, saturado o bloqueado, o las mismas han sido filtradas por el administrador de sus cuentas, se tendrán como debida y legalmente notificadas.



                    13. Fuerza mayor o caso fortuito

                    WPCI estará exento de toda responsabilidad, en caso de retraso, mora o incumplimiento total o parcial de las obligaciones establecidas en el presente contrato, debido a causas de fuerza mayor o caso fortuito, acordándose que al desaparecer éstas, las partes determinarán la conveniencia de continuar el presente acuerdo o dar por concluido el mandato que entraña. En caso de continuar las partes deberán acordar las nuevas condiciones para su desarrollo.


                    14. Derechos intelectuales

                    Los derechos de propiedad industrial e intelectual que se desprenden de Los Servicios y los diseños y dominios de LOS SITIOS, así como los derechos de uso y explotación de los mismos, así como estos TÉRMINOS Y CONDICIONES, son propiedad exclusiva de WPCI por lo que EL USUARIO no adquiere ni podrá adquirir derecho alguno de propiedad intelectual (Derechos de autor o propiedad industrial) por el hecho de hacer uso de LOS SITIOS y en ningún momento dicho uso será considerado como una autorización ni licencia para utilizar los Servicios con fines distintos a los establecidos en los presentes términos de uso.


                    15. Modificaciones

                    WPCI tiene derecho de modificar en cualquier momento los Términos de uso establecidos es este documento. En consecuencia, EL USUARIO deberá leer atentamente nuestros Términos de Uso y Política de Privacidad cada vez que desee utilizar LOS SITIOS.

                    Es posible que algunos de los Servicios que se ofrecen a través de LOS SITIOS estén sujetos a condiciones particulares que sustituyen, completan y/o modifican los Términos de Uso que se establecen en este documento. Por lo tanto, EL USUARIO también deberá leer atentamente dichas condiciones particulares, con anterioridad al encargo de Los Servicios directamente a WPCI o aquellos proporcionados por proporcionados por Proveedor externo.


                    16. Jurisdicción y Legislación aplicable.

                    Para la interpretación, cumplimiento y ejecución del presente acuerdo, las partes convienen que serán aplicables las leyes federales de los Estados Unidos Mexicanos y competentes los tribunales del estado de Jalisco, salvo que por ministerio de ley pudiese corresponder un fuero distinto.
                    </p>

                </div>
             </div>
           </div>
         </div>



    {% endif %}
    {% if error %}
        <div class="error"><strong>Error:</strong> {{ error }}</div>
    {% endif %}
        </div>
{% endblock %}
