{% extends "layout.html" %}
{% block content %}
<section >

    <div style="padding-top: 20px;">
      <div id="login-card" style="padding-top:2em;" class="col-lg-8 col-md-8 col-sm-12" >


          <form action="{{ url_for('view_docs') }}" method="post" style="padding-left:2em;">

              {% if success %}
                <h3 style="font-weight:900;background-color:#e0fde0" class="login-h1"> {{ success }}</h3>
              {% elif error %}
                <h3 style="font-weight:900;background-color:#ffcccc;color=#000" class="login-h1">
                {{ error }}
                {% if git_error %}
                   , please click <a href="{{ url_for('github_reg') }}"> HERE </a>
                    to reload your github token.
                {% endif %}

                </h3>
              {% endif %}
              {% if doc_len > 0 %}
               <h2 style="font-weight:900;" class="login-h1">You can share your documents or check the analytics.</h2>

                 <table class="uk-table uk-table-responsive" id="document_table" >
                    <caption></caption>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Link</th>
                            <th></th>
                            <th>Analytics</th>

                        </tr>
                    </thead>
                    <tbody>
                         {% for item in document_list %}
                        <tr>
                            <td align="center">{{ item.wp_name }}</td>
                            <td align="center" > <a id="{{ item.nda_id }}" href="{{ base_url + item.nda_id }}" >
                                {{ item.nda_id }}
                            </a>

                            </td>
                            <td align="center">
                                <span style="color:#3366BB;" class="uk-button" onClick="copyFunction( '{{ item.nda_id }}' )" uk-icon="icon: copy; ratio: 1.5">
                                </span>
                            </td>
                            <td align="center">
                                <a href="{{ url_for('analytics', id =item.nda_id) }}" >
                                <span uk-icon="icon: search; ratio: 1.5"></span>
                               </a>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


            {% else %}
              <h1 style="font-weight:900;" class="login-h1"><a href="{{ url_for('google_latex_docs') }}">Start creating your documents!.</a></h1>
            {% endif %}

          </form>
            <button style="margin-left:40%" onClick="history.go(-1)" class="btn btn-info" value="back">Go back</button>



      </div>
  </div>
</section>

<script>
function copyFunction(id) {
  var href = $('#'+id).attr('href');
  var el = document.createElement('textarea');
  el.value = href;
  document.body.appendChild(el);
  el.select();
  document.execCommand('copy');
  document.body.removeChild(el);
  alert('Link copied');
}
</script>

{% endblock %}