{% extends "layout.html" %}
{% block content %}
  <form action="{{ url_for('view_docs') }}" method="post">
    {% if error %}
      <h3 style="font-weight:900;background-color:#ffcccc;color=#000" class="login-h1">{{ error }}</h3>
    {% elif success %}
      <h3 style="font-weight:900;background-color:#e0fde0" class="login-h1"> {{ success }}</h3>
    {% endif %}

    {% if doc_len > 0 %}
      <h3 style="font-weight:900;padding-top:30px;" >Create links or check the analytics of each document</h3>
      <h3>You can only create links with the API, please visit <a target="blank" href="https://www.wpci.io/docs">our API documentation.</a></h3>
      <table class="uk-table uk-table-responsive uk-table-striped uk-table-small" id="document_table">
        <caption></caption>
        <thead>
          <tr>
            <th style="text-align:center">Name</th>
            <th style="text-align:center">Document ID</th>
            <th style="text-align:center">Type</th>
            <th style="text-align:center">Date</th>
            <th style="text-align:center">Links</th>
          </tr>
        </thead>
        <tbody>
          {% for item in document_list %}
            <tr>
              <td align="center">{{ item.wp_name }}</td>
              <td align="center" >
                <a href="#"><span id="{{ item.nda_id }}" onClick="go_to_link( '{{ item.nda_id }}' )">{{ item.nda_id }}</span></a>
              </td>
              <td align="center">
                {% if item.render %}
                    {{ item.render }}
                {% else %}
                    Unknown
                {% endif %}
              </td>
              <td align="center">
               {% if item.date %}
                    {{ item.date|strftime }}
                {% else %}
                    Unknown
                {% endif %}
              </td>
              <td align="center">
                <span style="color:#3366BB;" class="uk-button" onClick="go_to_link( '{{ item.nda_id }}' )" uk-icon="icon: link; ratio: 1.5"></span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h1 style="font-weight:900;" class="login-h1"><a href="{{ url_for('google_latex_docs') }}">Start creating your documents!.</a></h1>
    {% endif %}
  </form>

<!-- Javascript -->
<script>

  function go_to_link(myid){
    var myurl = "{{ url_for('view_links', doc_id='') }}" + myid;
    window.location.replace(myurl);
  }
</script>

{% endblock %}