{% extends "layout.html" %}
{% block content %}
<section class="login-section">
  <div>
    <div id="general-form" class="row" >
      <div id="login-card" class="col-lg-6 col-md-6 col-sm-12" style="float:none;">
        <div class="login-form">
          <form action="{{ url_for('documents') }}" method="post">
            <h1 style="font-weight:900;" class="login-h1">Please Enter all the Document information</h1>
              {% if success %}
                <h3 style="font-weight:900;background-color:#e0fde0" class="login-h1"> {{ success }}</h3>
              {% elif error %}
                <h3 style="font-weight:900;background-color:#ffcccc;color=#000" class="login-h1">
                {{ error }}
                {% if org_name %}
                   , Click <a href="{{ url_for('register_org') }}"> HERE to register an organization</a>
                {% endif %}
                {% if git_error %}
                   , please click <a href="{{ url_for('github_reg') }}"> HERE </a>
                    to reload your github token.
                {% endif %}

                </h3>
              {% endif %}
             <table class="uk-table">
                <caption></caption>
                <thead>
                    <tr>
                        <th>Column</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td>field</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>field</td>
                    </tr>
                </tbody>
            </table>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" >White paper main tex name (must be on the root)</span>
              </div>
              <input type="text" class="form-control" name="main_tex" value="" placeholder="Enter the Main tex Name" aria-label="Main Tex" aria-describedby="basic-addon1">
            </div>
            <button type="submit" class="btn btn-info" value="create">Save!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}